<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine.id) %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "Make a New Heroine", new_heroine_path, method: :get %><br>
<%= form_tag search_path, method: :get do %>
    <%= text_field_tag :power_name %>
    <%= submit_tag "Search" %>
<% end %>
