<h1>WHO RUNS THIS MOTHA💁🏻‍♀️</h1>


<% if @error == true %>
<% @heroine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
<br>
  
    <% end %>
<% end %>

<%= form_for @heroine do |h| %>
  <%= h.label :name %>:
  <%= h.text_field :name %><br/>

  <%= h.label :super_name %>:
  <%= h.text_field :super_name %><br/>

    <%= h.collection_select :power_id, Power.all, :id, :name %>

  <%= h.submit %>
<% end %>