<h1>New Heroine</h1>

<% if flash[:error]%>
    <% flash[:error].each do |message| %>
    <%= message %>
    <% end%>
<% end %>
<br>
<br>

<%= form_for @heroine do |f| %>
<%= f.label :name %>
<%= f.text_field :name%>
<br>
<%= f.label :super_name %>
<%= f.text_field :super_name%>
<br>
<%= f.label :power_id %>
<%= f.collection_select(:power_id, @powers, :id, :name, prompt: true)%>
<br>
<br>
<%= submit_tag %>
<br> 
<% end %>